<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷, 네트워크, 와이파이 관련 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 와이파이 다이렉트 권한 -->
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />

    <!-- (포어그라운드) 지도에 사용자의 위치를 표시하거나 사용자의 위치 정보를 얻기 위해 필요함: 위험권한 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 네트워크 이용 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:ignore="CoarseFineLocation"/> <!-- GPS 이용 -->

    <!--(백그라운드) 안드로이드 10 (API 레벨 29) 이상에서 필요한 백그라운드 위치 정보 접근 권한-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!--기기정보 확인 위한 권한-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!--블루투스 권한-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!-- 포어그라운드 서비스 권한 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- 외부 저장소에 쓰고 읽기 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>


    <application
        android:name=".GoodNewsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="희소식"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoodNews"
        tools:targetApi="31">
        <activity
            android:name=".alarm.AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".enterinfo.EnterInfoActivity"
            android:exported="false" />
        <activity
            android:name=".tutorial.TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>